<%= simple_form_for("", url: form_url, method: :get, 
    html: { 
      "data-controller": "form", 
      "data-action": "input->form#submit" }
    ) do |f| %>
    <!-- removed turbo advance because bugs. Add later" -->
  <div class="flex justify-center gap-2">
    <div>
      <%= f.input :front, label: false, input_html: { placeholder: 'Name...', value: params[:front] } %>
    </div>
    <div>
      <%= f.input :sort_by, label: false, as: :select, collection: [['Highest Accuracy', 'highest_accuracy'], ['Lowest Accuracy', 'lowest_accuracy'], ['Name', 'name']], prompt: "Sort By", selected: params[:sort_by] %>
    </div>
    <div class="flex align-center">
      <%= f.button :submit, "Search" %>
    </div>
  </div>
<% end %>


<%= simple_form_for "", url: add_selection_flashcards_path, method: :post, html: { 'data-turbo': 'false' } do |form| %>
  <legend class="sr-only">Select All</legend>
  <div class="space-y-5">
    <div class="relative flex justify-center items-start gap-2">
      <div class="flex h-6 items-center">
      <%= form.input :select, as: :boolean, label: false, inline_label: 'Select All', input_html: { class: 'h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600', 'aria-describedby': 'comments-description', 'data-action': 'click->checkbox#selectAll' }, wrapper: false %>
      </div>
      <div>
        <%= render "dropdown" %>
      </div>
      <%= form.button :submit, 'Submit', class: 'rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600', data: { turbo_frame: "_top" } %>
    </div>
  </div>
    <div class="flex flex-wrap gap-2 mt-8 justify-center">
  <% @flashcards.each do |flashcard| %>
      <%= render flashcard %>
  <% end %>
  </div>
<% end %>

