
      <% @flashcards.each do |flashcard| %>
        <div class="flex-col">
          <a
            href="<%= details_flashcard_path(flashcard) %>"
            data-turbo-frame = "_top"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
            <%= flashcard.front %>
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Phonetics here
            </p>
          </a>
          <div class="flashcard_statistics">
            <div>Correct: <span><%= flashcard.flashcard_statistics.find_by(user: current_user).correct_count if current_user %></span></div>
            <div>Incorrect <span><%= flashcard.flashcard_statistics.find_by(user: current_user).incorrect_count if current_user %></span>:</div>
            <div>Accuracy: 
            <%= 
            stat = flashcard.flashcard_statistics.find_by(user: current_user)
            if stat
              "#{(stat.accuracy*100).round(0)}%"
            else 
              "N/A"
            end
            %></div>
          </div>
        </div>
      <% end %>