<%= simple_form_for("", url: form_url, method: :get, 
    html: { 
      "data-controller": "form", 
      "data-action": "input->form#submit" }
    ) do |f| %>
    <!-- removed turbo advance because bugs. Add later" -->
  <div class="flex justify-center gap-2">
    <div>
      <%= f.input :front, label: false, input_html: { placeholder: 'Name...', value: params[:front] } %>
    </div>
    <div>
      <%= f.input :sort_by, label: false, as: :select, collection: [['Highest Accuracy', 'highest_accuracy'], ['Lowest Accuracy', 'lowest_accuracy'], ['Name', 'name']], prompt: "Sort By", selected: params[:sort_by] %>
    </div>
    <div class="flex align-center">
      <%= f.button :submit, "Search" %>
    </div>
  </div>
<% end %>

<div data-controller="checkbox-select-all">
  <legend class="sr-only">Select All</legend>
  <div class="space-y-5">
    <div class="relative flex justify-center items-start gap-2">
      <div class="flex h-6 items-center">
        <input id="all" aria-describedby="comments-description" name="all" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" data-checkbox-select-all-target="parent" data-action="change->checkbox-select-all#toggleChildren">
      </div>
      <div class="ml-3 text-sm leading-6">
        <label for="all" class="font-medium text-gray-900">Select All</label>
      </div>
      <div>
        <%= render "dropdown"%>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-2 mt-8 justify-center">
    <% @flashcards.each do |flashcard| %>
        <%= render flashcard %>
    <% end %>
  </div>
<%= button_tag "Submit", type: 'button', data: { action: "checkbox-select-all#create" } %>
</div>