<%= simple_form_for("", url: flashcards_path , method: :get, 
    html: { 
      "data-controller": "form", 
      "data-action": "input->form#submit" }
    ) do |f| %>
    <!-- removed turbo advance because bugs. Add later" -->
  <div class="flex justify-center gap-2">
    <div>
      <%= f.input :front, label: false, input_html: { placeholder: 'Name...', value: params[:front] } %>
    </div>
    <div>
      <%= f.input :sort_by, label: false, as: :select, collection: [['Highest Accuracy', 'highest_accuracy'], ['Lowest Accuracy', 'lowest_accuracy'], ['Name', 'name']], prompt: "Sort By", selected: params[:sort_by] %>
    </div>
    <div class="flex align-center">
      <%= f.button :submit, "Search" %>
    </div>
  </div>
<% end %>

<%= form_with url:bulk_flashcards_path, model: @flashcard, data: { controller: 'cbox-all' } do |f| %>
  <legend class="sr-only">Select All</legend>
  <div class="space-y-5">
    <div class="relative flex justify-center items-start gap-2">
      <div class="flex h-6 items-center">
        <input id="comments" aria-describedby="comments-description" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" data-cbox-all-target="checkboxAll">
      </div>
      
      <div class="ml-3 text-sm leading-6">
        <label for="comments" class="font-medium text-gray-900">Select All</label>
      </div>
      <div>
        <%= render "dropdown"%>
      </div>
    </div>
  </div>

  <!-- #div from checkbox -->
  <!-- list view -->
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-1 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="table min-w-full divide-y divide-gray-300">
            <div class="table-header-group">
              <div class="table-row">
                <div class="table-cell py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Select</div>
                <div class="table-cell py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                  <div class="flex items-center">
                    <% if params[:sort] == "front_asc" %>
                      <svg class="h-4 w-4 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="16" y1="9" x2="12" y2="5" />  <line x1="8" y1="9" x2="12" y2="5" /></svg>
                      <%= link_to "English", flashcards_path(sort: 'front_desc')%>
                    <% elsif params[:sort] == "front_desc"  %>
                      <svg class="h-4 w-4 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="16" y1="15" x2="12" y2="19" />  <line x1="8" y1="15" x2="12" y2="19" /></svg>
                      <%= link_to "English", flashcards_path(sort: 'front_asc')%>
                    <% else %>
                     <%= link_to "English", flashcards_path(sort: 'front_asc')%>
                    <% end %>
                  </div>
                </div>
                <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <div class="flex items-center">
                    <% if params[:sort] == "back_asc" %>
                      <svg class="h-4 w-4 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="16" y1="9" x2="12" y2="5" />  <line x1="8" y1="9" x2="12" y2="5" /></svg>
                      <%= link_to "Portuguese", flashcards_path(sort: 'back_desc')%>
                    <% else %>
                      <svg class="h-4 w-4 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="16" y1="15" x2="12" y2="19" />  <line x1="8" y1="15" x2="12" y2="19" /></svg>
                      <%= link_to "Portuguese", flashcards_path(sort: 'back_asc')%>
                    <% end %>
                  </div>
                </div>
                <div class="table-cell relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">In Deck?</span>
                </div>
              </div>
            </div>
            <div class="table-row-group divide-y divide-gray-200">
            <% @flashcards.each do |flashcard| %>
              <%= render "line_item", flashcard: flashcard  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= f.submit "Submit" %>
<% end %>

<%== pagy_nav(@pagy) %>
