<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:px-6 flex justify-center gap-3">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
    <%= link_to 'All Cards', category_user_deck_path(current_user.id, @deck, category: 'all'), class: "rounded-full bg-white px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %> <!-- add remote: true ?-->
    <%= link_to 'New Cards', category_user_deck_path(current_user.id, @deck, category: 'new'), class: "rounded-full bg-white px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %> <!-- add remote: true ?-->
    <%= link_to 'Learning', category_user_deck_path(current_user.id, @deck, category: 'learning'), class: "rounded-full bg-white px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %> <!-- add remote: true ?-->
    <%= link_to 'Progressing', category_user_deck_path(current_user.id, @deck, category: 'progressing'), class: "rounded-full bg-white px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %> <!-- add remote: true ?-->
    <%= link_to 'Mastered', category_user_deck_path(current_user.id, @deck, category: 'mastered'), class: "rounded-full bg-white px-4 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %> <!-- add remote: true ?-->    
  </div>

  <!-- Flashcard Statistics by Category -->
  <div class="overflow-hidden rounded-lg bg-white shadow">
    <%# <div class="px-4 py-5 sm:p-6">
      Deck name | deck count | deck accuracy
    </div> %>
    <dl class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Total cards</dt>
        <dd class="text-xs font-medium text-gray-700">+4.75%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">5</dd>
      </div>
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Incorrect count</dt>
        <dd class="text-xs font-medium text-rose-600">+54.02%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">10</dd>
      </div>
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Correct count</dt>
        <dd class="text-xs font-medium text-gray-700">-1.39%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">90</dd>
      </div>
      <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
        <dt class="text-sm font-medium leading-6 text-gray-500">Accuracy</dt>
        <dd class="text-xs font-medium text-rose-600">+10.18%</dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">90%</dd>
      </div>
    </dl>
  </div>

  <div class="overflow-hidden rounded-lg bg-white shadow">
  <%= simple_form_for("", url: "", method: :get
      ) do |f| %>
    <div class="flex justify-center gap-2">
      <div>
        <%= f.input :front, label: false, input_html: { placeholder: 'Front...', value: params[:front] } %>
      </div>
      <div>
        <%= f.input :back, label: false, input_html: { placeholder: 'Back...', value: params[:back] } %>
      </div>
      <div class="flex align-center">
        <%= f.button :submit, "Create" %>
      </div>
    </div>
    <% end %>
  </div>


  <!-- Statistics displayed for each Flashcard -->
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="mt-1 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="table min-w-full divide-y divide-gray-300">
              <!-- Mimic THEAD -->
              <div class="table-header-group">
                <div class="table-row">
                  <!-- Mimic TH -->
                  <div class="table-cell py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Front</div>
                  <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Back</div>
                  <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Correct</div>
                  <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Incorrect</div>
                  <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Accuracy</div>
                  <div class="table-cell relative py-3.5 pl-3 pr-4 sm:pr-0">
                    <span class="sr-only">Edit</span>
                  </div>
                </div>
              </div>
              <!-- Mimic TBODY -->
              <div class="table-row-group divide-y divide-gray-200">
                <!-- Mimic TR -->
                <div class="table-row">
                  <!-- Mimic TD -->
                  <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</div>
                  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">Front-end Developer</div>
                  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">lindsay.walton@example.com</div>
                  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">Member</div>
                  <div class="table-cell relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
                  </div>
                </div>
                <!-- Repeat for more "rows" -->
                <!-- ...More people... -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
</div>